*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
 #section-home{
    background-image: url(./pic/Cover\ Photo.png);
    background-position: center;
} 
 
.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    display: inline-block;
    padding-left: 40px;
    padding-top: 30px;
}
 
 input[type="text"]{
    height: 30px;
    width: 300px;
    margin-top: 30px;
    border-radius: 10px;
} 
.nav-bar ul li{  
  display: inline;  
}
.nav-bar ul li a{
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 3px;
    margin: 0 15px ;
    text-transform: uppercase;
    color: #F60AD1;
    font-weight: 700;
}
.nav-bar2{
    text-align: center;
    height: 150px;
    width: 150px;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #F60AD1;
}
.nav-bar2 .fa-solid{   
    margin-top: 38%;
    color: white;
    font-size: 2.2rem;
}
.heading{
    width: 700px;
   
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
}
.heading h1{
    color:white;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 7px;
    font-family: 'Amatic SC', cursive;    
}
.details{
    
    height: 225px;
    margin-top: 50px;
}
.link{
    background-color: #F60AD1;
    height: 84px;
}
.link a{
    text-align: center;
    display:block;
    font-size: 1.2rem;
    text-decoration: none;
    padding-top: 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 7px;
}
.details{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(rgba(9, 32, 50, 0.8), rgba(9, 32, 50, 0.8))
}
.details .contents{
    
    width: 377px;
    height: 148px;
    margin-top: 30px;
    padding-left: 15px;
}
 
.progress .progress-bar{
    background-color:#F60AD1;   
}
 .contents h4{
    margin-top:15px;
    
 }
.contents h3, h4{
    color: white;
     
}
.contents h3{
    letter-spacing: 5px;
    font-weight: 900;
}
.contents p{
    color:#F60AD1;
    font-size: 0.8rem;
    line-height: 16px;
}

/* ----header 2 section start ------ */
#section2{
    height: 1024px;
    
}

.header-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%; 
    justify-content: center;
    margin: 0 auto;   
}
.header-container .section2-header{
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
}
.section2-header h2{
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;

}
.section2-header span{
   font-size: 2.4rem;
   letter-spacing: 5px;
   font-family: 'Fredericka the Great', cursive;   
}
.section2-header h5{
    opacity: 0.7;
    padding-bottom: 15px;
}
.section2-header p{
    line-height: 18px;
    color: darkslategrey;
}
.header-container .products{
      
     height: 580px;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     margin-top: 20px;
     margin-bottom: 25px;
}
.header-container .products{
    width: 100%;
   
}
.products-link a{
    color: #F60AD1;
    text-decoration: none;
    padding-top: 8px;
    letter-spacing: 3px;
    display: block;
    font-weight: 600;
}
.products-hed h3{
    color: white;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 700;
    margin-top: 20px; 
}
.products-hed h5{
    color: white;
    font-size: 0.9rem;
    margin-bottom: 30px;
     
}
.products .product-edit{
    width: 90%;
    height: 578px;
    margin: 0 auto;
    
    background-color: #130E48;
    padding: 10px;

    
}
.product-edit .detail{
    font-weight: 600;
    height: 300px;
    width: 50%;
    float: left;
    margin-top: 30px;
    
}
.product-edit .pic{
    float: right;
   
    height: 300px;
    width: 50%;
    margin-top: 30px;
    
}
.product-edit .detail p{
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: white;
}
.product-edit .pic img{
    width: 100%;
    margin-left: -35px;    
}
  
.link2{
    border: 1px solid white;
    display: inline-block;
    height: 40px;
    width: 100px;
    position: absolute;
    margin-left:35px;
}
.link2 a{
    color: #F60AD1;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    display:flex;
    justify-content: center;
    margin-top: 9px;
    padding-left: 5px;
}


/* edit....edit..... edit... */
 
#section2{
    height: auto;
}
.header-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%; 
    justify-content: center;
    margin: 0 auto;   
}
.header-container .section2-header{
    grid-column: 1 / -1;
    text-align: center;
    margin-top: 20px;
}
.section2-header h2{
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;

}
.section2-header span{
   font-size: 2.4rem;
   letter-spacing: 5px;
   font-family: 'Fredericka the Great', cursive;   
}
.section2-header h5{
    opacity: 0.7;
    padding-bottom: 15px;
}
.section2-header p{
    line-height: 18px;
    color: darkslategrey;
}
.header-container .products2{
      
     height: 580px;
     align-items: center;
     justify-content: center;
     margin: 0 auto;
     margin-top: 20px;
     margin-bottom: 25px;
}
.header-container .products2{
    width: 100%;
   
}
.products-link2 a{
    font-weight: 600;
    color: #F60AD1;
    text-decoration: none;
    padding-top: 8px;
    letter-spacing: 3px;
    display: block;
}
.products-hed2 h3{
    
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: 700;
    margin-top: 20px; 
}
.products-hed2 h5{
    
    font-size: 0.9rem;
    margin-bottom: 30px;
     
}
.products2 .product-edit2{
    width: 90%;
    height: 578px;
    margin: 0 auto;
    border: 1px solid;
    padding: 10px; 
}
.product-edit2 .detail{
    font-weight: 600;
    height: 300px;
    width: 50%;
    float: left;
    margin-top: 30px;
    
}
.product-edit2 .pic{
    float: right;
   
    height: 300px;
    width: 50%;
    margin-top: 30px;
    
}
.product-edit2 .detail p{
    font-size: 12px;
    line-height: 15px;
    text-align: right;
     
}
.product-edit2 .pic img{
    width: 100%;
    margin-left: -35px;    
}
  
.link2-2{
    background-color: #F60AD1;
    display: inline-block;
    height: 40px;
    width: 100px;
    position: absolute;
    margin-left:35px;
}
.link2-2 a{
    color: white;
    font-weight: 600;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    display:flex;
    justify-content: center;
    margin-top: 9px;
    padding-left: 5px;
}


/* ----header 2 section end------ */

/* ------section 3 start------- */
.section3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 1200px;
}
 .section3-header{
    width: 100%;
    height:490px ;
    grid-column: 1/-1;
    background-color: black;
 }
.section3-hed{
    height: 487px;
    grid-column: 1/-1;
    width: 80%;
    text-align: center;
    margin: 0 auto;
   
    
}
.section3-pic1{
    height: 87px;
}
.section3-pic2{
    height: 87px;
}
.section3-hed h5{
 font-size: 32px;
 font-weight: 700px;
 color:rgba(255, 255, 255, 1);
 margin-top: 35px;
 margin-bottom: 20px;
}
.section3-hed p{
    color:rgba(255, 255, 255, 1) ;
    font-size: 14px;
}
.section3-pic1{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
   }
.section3-pic1 img{
     width: 100%;
}
.section3-pic2{
     width: 80%;
     margin: 0 auto;
    }
.section3-pic2 img{
    width: 100%;
}
.section3-content{
    height: 710px;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 20px;
    background-color: #FF00FF;
}
.section3-content2{
    height: 710px;
    background-color: #130E48;
    
}
.section3-content-heading{
    position: relative;
}
.section3-content-heading h2{
font-size: 48px;
font-weight: 700;
padding-bottom: 5px;
color: white;
text-transform: uppercase;
letter-spacing: 10px;
}
.border{
    width: 8%;
    height: 10px;
    background-color:  #FFFFFF;
}
.line{
    width: 250px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 200px;
    top: 80px;
    transform: rotate(127deg); 
}

.section3-content-heading h2 span{
     color: #130E48;
}
.section3-para{
    margin-top: 100px;
}
.section3-para h5{
    color: #FFFFFF;
    font-size: 28px;
    margin-bottom: 30px;
}
.section3-para p{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 40px;
}
.section3-para button{
    width:240px;
    padding: 5px;  
    background-color:#FF00FF;
    margin-left: 10px;
    margin-right: 20px;
    border: 1px solid white;
    
}
.section3-para button a{
    text-decoration: none;
    color: white; 
    
}





.section3-content2{
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 20px;
}
.section3-content2-heading{
    position: relative;

}
.section3-content2-heading h2{
font-size: 48px;
font-weight: 700;
padding-bottom: 5px;
color: white;
text-transform: uppercase;
}
.border2{
    width: 8%;
    height: 10px;
    background-color:  #FFFFFF;
}
.line2{
    width: 250px;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 330px;
    top: 80px;
    transform: rotate(127deg); 
}

.section3-content2-heading h2{
    letter-spacing: 10px;
}
.section3-content2-heading h2 span{
    color:#F60AD1;
}
.section3-para2{
   margin-top: 100px;
}
.section3-para2 h5{
   color: #FFFFFF;
   font-size: 28px;
   margin-bottom: 30px;
}
.section3-para2 p{
   color: #FFFFFF;
   font-size: 14px;
   line-height: 17px;
   margin-bottom: 30px;
}
.section3-para2 button{
   width:240px;
   padding: 5px;  
   background-color:#FF00FF;
   margin-left: 10px;
   margin-right: 20px;
   border: 1px solid white;
   
}
.section3-para2 ul li{
    color: white;
    margin-bottom: 3px;
}
.section3-para2 button{
    background-color: #130E48;
}
.section3-para2 button a{
   text-decoration: none;
   color: white;
   
}

/* ------section 3 end------- */
/* - ------section 4 start------- - */
.section4-container{
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.section4-header{
    grid-column: 1/-1;
    padding-top: 50px;
    padding-left: 50px;
    height: 200px;
}
.section4-header h2 span{
    text-transform: uppercase;
    color: #130E48;
    font-size: 48px;
    letter-spacing: 10px;
}
.section4-header h2{
    font-size: 48px;
    letter-spacing: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
.section4-header .border2{
    background-color: #130E48;
    width: 62px;
}
.text-area{
    height: 400px;
    grid-column: 1/4;
}
.form{
    grid-column: 4/-1;
    margin-top: 20px;
    margin-left: 50px;
    height: 300px;
}

#text-area{
    border: 1px solid black;
    margin-left: 40px;
    margin-top: 20px;
    border-radius: 5px;
}
.address{
    margin: 20px 40px;
    height: 100px;
    width: 180px;
}
.address h5{
    font-weight: 700;
    padding-bottom: 10px;
}
.address p{
    line-height: 19px;
    font-size: 0.89em;
}
.input-edit{
    border-bottom: 2px solid black;
    padding: 10px;
    width: 300px;
}
#your-name{
    border-bottom: 2px solid black;
    border-radius: 0;
}
 
.edit-button{
    display: block;
    background-color: #130E48;
    color: white;
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 140px;
    margin-top: 66px;
    padding:5px;
    width: 170px;   
}

.section4-container .link{
    grid-column: 1/-1;
}
/* - ------section 4 end------- - */

/* --------footer ---------------------- */
.footer{
    display: flex;
    height: 380px;
    background-color: #000000; 
}
.brand-pic{
    height: 380px;
    width: 30%;
    position: relative;
    
}
.add-brand-pic{
    margin: 0 auto;
    width: 80%;
    top: 80px;
    left: 60px;
    position: absolute;
}
.brand-pic img{
    width: 100%;
    object-fit: cover;
     
}
.footer-links{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 70%;
}
.footer-hedear{
    grid-column: 1/-1;
    background-color: #000000;
}
.footer-hedear h5{
    color: white;
    font-size: 24px;
     margin-top: 75px;
     margin-left: 25px;
     margin-bottom: -20px;
    
}
 
.footer-product p{
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    padding-left: 30px;

}
.footer-product ul li{
    list-style-type: none;
}
.footer-product ul li a{
    text-decoration: none;
    color: white;
}
.footer-product ul li a:hover{
    text-decoration: underline;
}
.an-sign{
    grid-column: 4/-1;
    
}
.an-line{
    height: 150px;
    width: 1px;
    background-color: white;
    transform: rotate(-135deg);
    position: absolute;
    margin-left: -6px;
    margin-top: 20px;
}
.footer-contact-us{
    margin-left: 100px;
}
.footer-contact-us p{
    font-weight: 600;
    color: white;
    font-size: 1.2rem;
}
.icons a i {
    font-size: 2rem;
    color: white;
    padding-left: 5px;
     
}
.copyright{
    color: white;
    margin-top: 100px;
    margin-left: 30px;
}
.copyright a{
    text-decoration: none;
    color: white;
}
.copyright a:hover{
    text-decoration: underline;
    color: white;
}



 